<div class="article-page">

  <div class="banner">
    <div class="container">
      <h1>{{article.article.title}}</h1>
      <article-meta params="article: article.article"></article-meta>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        {{article.article.body}}
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <article-meta params="article: article.article"></article-meta>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <comment-form params="article: article.article"></comment-form>
        <comment-list params="article: article.article"></comment-list>
      </div>
    </div>
  </div>
</div>