<div class="article-page">

  <div class="banner">
    <div class="container">
      <h1>{{article.title}}</h1>
      <article-meta params="article: article"></article-meta>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <contrib-markdown params="content: article.body"></contrib-markdown>
      </div>
    </div>

    <tag-list params="tags: article.tagList"></tag-list>

    <hr />

    <div class="article-actions">
      <article-meta params="article: article"></article-meta>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        {{#if currentUser.loggedIn}}
          <comment-form params="comments: comments"></comment-form>
        {{/if}}
        <comment-list params="comments: comments"></comment-list>
      </div>
    </div>
  </div>
</div>