<div class="article-meta">
  <a data-bind="path: article.author.paths.profile"><img src="{{article.author.image}}" /></a>
  <div class="info">
    <a data-bind="path: article.author.paths.profile" class="author">{{article.author.username}}</a>
    <span class="date">{{article.createdAt}}</span>
  </div>
  {{#if article.author.isCurrentUser}}
    <a class="btn btn-sm btn-outline-secondary" data-bind="path: article.paths.edit">
      <i class="ion-edit"></i>
      &nbsp;
      Edit Post
    </a>
    &nbsp;&nbsp;
    <button class="btn btn-sm btn-outline-danger" data-bind="click: deleteArticle">
      <i class="ion-trash-a"></i>
      &nbsp;
      Delete Post
    </button>
  {{/if}}
  {{#ifnot article.author.isCurrentUser}}
    <button class="btn btn-sm btn-outline-secondary" data-bind="click: article.author.toggleFollowing">
      <i class="ion-plus-round"></i>
      &nbsp;
      {{#if article.author.following}}
        Following
      {{/if}}
      {{#ifnot article.author.following}}
        Follow
      {{/ifnot}}
      {{article.author.username}}
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-sm btn-outline-primary" data-bind="click: article.toggleFavorite">
      <i class="ion-heart"></i>
      &nbsp;
      {{#if article.favorited}}
        Unfavorite
      {{/if}}
      {{#ifnot article.favorited}}
        Favorite
      {{/ifnot}}
      Post <span class="counter">({{article.favoritesCount}})</span>
    </button>
  {{/ifnot}}
</div>