<style>
  .feed.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
  }
</style>

<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        {{#if showTabs}}
          <div class="feed-toggle">
            <ul class="nav nav-pills outline-active">
              {{#if currentUser.loggedIn}}
                <li class="nav-item">
                  <a class="nav-link" data-bind="
                    css: { active: isUserFeed },
                    click: showUserFeed
                  " href="#">Your Feed</a>
                </li>
              {{/if}}
              <li class="nav-item">
                <a class="nav-link" data-bind="
                  css: { active: isGlobalFeed },
                  click: showGlobalFeed
                " href="#">Global Feed</a>
              </li>
              {{#if query.tag}}
                <li class="nav-item">
                  <a class="nav-link active">#{{query.tag}}</a>
                </li>
              {{/if}}
            </ul>
          </div>
        {{/if}}

        <div class="feed" data-bind="css: { overlay: articles.loading }">
          <article-list params="articles: articles"></article-list>
        </div>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            {{#foreach tags.tags}}
              <a href="#" class="tag-pill tag-default" data-bind="
                click: $component.showTag.bind($component, $data),
                css: { 'tag-outline': $data === $component.query.tag() }
              ">{{$data}}</a>
            {{/foreach}}
          </div>
        </div>
      </div>

    </div>
  </div>

</div>